doctype html
html(lang=lang)
    head
        meta(charset='utf-8')
        meta(http-equiv='Content-Language' content=lang)
        meta(name='viewport', content='width=device-width, user-scalable=no')
        title NOGORD.IO | Login
        link(rel='apple-touch-icon', sizes='180x180', href='../../img/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='../../img/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='../../img/favicon-16x16.png')
        link(rel='manifest', href='../manifest.json')
        link(rel='icon', href='../favicon.ico')
        link(rel='stylesheet',  href=(base + '/bundle.css'))  
        link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,600', rel='stylesheet')
        script(type='text/javascript', src=(base + '/state_manager/bridge.js'))
        script(type='text/javascript', src=(base + '/bundle.js'))
    body
        // Topo
        header#top.register-header
            .container.align-center
                a.logo(itemprop='brand', href=(base + '/'), title='NOGORD.IO', onclick="gaClickButton('login_page','logo')")
                .header-button.align-center.justify-center
                    a.full-button.red(href=(base + '/register'), onclick="gaClickButton('login_page','register_header')")
                        | !{t('login:btn-register')}
                .flags
                    a.flagPt(href="/pt/login")
                    a.flagEn(href="/en/login")        
        // REGISTER
        section#sign-up
            .overflow
                .register-bg
            .container
                h1 !{t('login:title')}
                form#login_form.inputs.login(action='#', autocomplete='off')
                    input(type='email',id="change-email" ,name='email', placeholder=t('login:email'))
                    input(type='password',id="change-password", name='password', placeholder=t('login:pwd') autocomplete="new-password")
                    a(id="forgot-password")  !{t('login:forgot-pwd')}
                    .login-form
                        button#submit-login.full-button.red(type='submit', name='submit-login') !{t('login:login-action')}
                        p.link-extra
                            | !{t('login:dont-you-have-a-login')}
                            a(href=(base + '/register'), onclick="gaClickButton('login_page','register_form')")  !{t('login:btn-register')} 
        // FOOTER
        footer.align-center.justify-center.black
            #contentFooter.container.align-center.justify-center
                #contactLink.inside-links.justify-center
                    a(href=(base + '/contact'), onclick="gaClickButton('login_page','contact')")  !{t('login:link-contact')}
                    // <a href="/carreira">Carreiras</a>
                .social-media.align-center.justify-center
                    a.round-button.align-center.justify-center(href='https://www.facebook.com/NOGORDIO-144412962812734', onclick="gaClickButton('login_page','face_icon')")
                        i.icon-facebook(aria-hidden='true')
                    a.round-button.align-center.justify-center(href='https://www.linkedin.com/company-beta/25010351/', onclick="gaClickButton('login_page','linkedin_icon')")
                        i.icon-linkedin(aria-hidden='true')
        #loader.loader(hidden='') !{t('login:loading')}
          
